<h1 class="ui header">All Teams</h1>
<%=link_to "New Team", new_team_path%>

<%@teams.each do |team|%>
  <h1><%= team.name%></h1>
  <%=link_to "Show",team_path(team)%> |
  <%=link_to "Edit",edit_team_path(team)%> |
  <%=link_to "Destroy",team_path(team), method: :delete%>
<%end%>
<br/>