<h1><%=@team.name%>
<div class='ui list'>
<h4>Name: <%=@player.name%> </h4>
<h4>Age: <%=@player.age%> </h4>
<h4>Position: <%=@player.position%> </h4>
<h4>Number: <%=@player.number%> </h4>
<h4>Height: <%=@player.height%> </h4>
<h4>Weight: <%=@player.weight%> </h4>

<%= link_to "Back", team_players_path%>
</div>

